<!DOCTYPE html>
{%load billing%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Please make payment and click the submit button to place the order</h1>
    <ol>
<li>Product   Quantity   Cost</li>

    {%for x in cart_items%}

<li>{{x.gname}} x {{x.gquantity}} = {% mul x.gquantity x.gprice %}</li>
{%endfor%}
  </ol>
<h2>Total Cost:{{total_sum}}</h2>

<form  action="http://127.0.0.1:8000/placeorder/" method="post">
  {%csrf_token%}
  <input type="email" name="email" value="{{email}}">

  <input type="submit" name="place" value="Place Order">
</form>

  </body>
</html>
